html {
  background-color: black;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.page {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

:not(#loading).page-transition-enter-active::after {
  background: #fef6e1;
  content: "";
  z-index: 99999;
  position: fixed;
  top: 0%;
  left: -25%;
  width: 150%;
  height: 100%;
  transform-origin: left;
  transform: scaleX(1) skewX(30deg);
}

:not(#loading).page-transition-enter-done::after {
  background: #fef6e1;
  content: "";
  z-index: 99999;
  position: fixed;
  top: 0%;
  left: -25%;
  width: 150%;
  height: 100%;
  transform-origin: left;
  transform: scaleX(0) skewX(30deg);
  transition: transform 500ms ease;
}

:not(#loading).page-transition-exit::after {
  background: #fef6e1;
  content: "";
  z-index: 99999;
  position: fixed;
  top: 0%;
  left: -25%;
  width: 150%;
  height: 100%;
  transform-origin: left;
  transform: scaleX(0) skewX(30deg);
}

:not(#loading).page-transition-exit-active::after {
  transform-origin: left;
  transform: scaleX(1) skewX(30deg);
  transition: transform 500ms ease;
}

/* move */
.move.enter {
  opacity: 0;
}
.move.enter-active {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.move.enter-done {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.move.exit {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.move.exit-active {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* scanner */
.scanner.enter {
  transform: translate(0, 120%);
}
.scanner.enter-active {
  transform: translate(0, 0);
  transition: transform 0.4s ease;
}
.scanner.enter-done {
  transform: translate(0, 0);
  transition: transform 0.4s ease;
}
.scanner.exit {
  transform: translate(0, 120%);
  transition: transform 0.4s ease;
}
.move.exit-active {
  transform: translate(0, 120%);
  transition: transform 0.4s ease;
}

.scanner.enter .scanner_info {
  opacity: 0;
}
.scanner.enter-active .scanner_info {
  opacity: 1;
  transition: opacity 0.4s 0.3s ease;
}
.scanner.enter-done .scanner_info {
  opacity: 1;
  transition: opacity 0.4s 0.3s ease;
}
