@font-face {
  font-family: "NPSfont";
  src: url("/public/assets/fonts/NPSfont_regular.ttf");
}
* {
  font-family: "NPSfont";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar {
  display: none;
}
